<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @listing.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
